---
import { Image } from "astro:assets";

interface Props {
  titulo: string;
  descripcionCorta: string;
  urlImg: string;
  esUnica?: boolean;
  id?: string;
}

const { titulo, descripcionCorta, urlImg, esUnica, id } = Astro.props;
---

<a href={`/servicios#${id}`}
  class={`servicio-card bg-[#100D23] md:bg-[#100D23] hover:bg-[#120f27] border border-transparent hover:border-white/10 p-5 rounded-2xl flex flex-col gap-2 group ${esUnica ? "lg:w-1/2" : ""}`}
>
  <div class="flex gap-2 md:gap-3 justify-between">
    <div class="flex flex-col gap-1">
      <h3 class="text-lg sm:text-[22px]">{titulo}</h3>
      <p class="mb-2 text-xs sm:text-sm" set:html={descripcionCorta}></p>
    </div>
    <div class="p-3 rounded-xl group h-max">
      <svg
        class="h-4 group-hover:rotate-45 w-auto text-hover"
        viewBox="0 0 12 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12.0058 1.05C12.0058 0.784784 11.9004 0.530429 11.7129 0.342893C11.5254 0.155357 11.271 0.0500002 11.0058 0.0500002L3.0058 0C2.74058 0 2.48623 0.105357 2.29869 0.292893C2.11116 0.48043 2.0058 0.734784 2.0058 1C2.0058 1.26522 2.11116 1.51957 2.29869 1.70711C2.48623 1.89464 2.74058 2 3.0058 2H8.5658L0.295798 10.29C0.20207 10.383 0.127676 10.4936 0.0769072 10.6154C0.0261385 10.7373 0 10.868 0 11C0 11.132 0.0261385 11.2627 0.0769072 11.3846C0.127676 11.5064 0.20207 11.617 0.295798 11.71C0.388761 11.8037 0.499362 11.8781 0.621222 11.9289C0.743081 11.9797 0.873786 12.0058 1.0058 12.0058C1.13781 12.0058 1.26852 11.9797 1.39038 11.9289C1.51223 11.8781 1.62284 11.8037 1.7158 11.71L10.0058 3.42V9C10.0058 9.26522 10.1112 9.51957 10.2987 9.70711C10.4862 9.89464 10.7406 10 11.0058 10C11.271 10 11.5254 9.89464 11.7129 9.70711C11.9004 9.51957 12.0058 9.26522 12.0058 9V1.05Z"
          fill="currentColor"></path>
      </svg>
    </div>
  </div>
  <div
    class="w-full min-h-42 md:min-h-50 mt-auto flex justify-center items-center rounded-xl bg-[#1E1C2C] py-8 overflow-hidden"
  >
    <Image
      src=`/${urlImg}.png`
      alt=`Icono de ${titulo}`
      width={125}
      height={125}
      class="object-contain w-20 md:w-28 h-auto group-hover:scale-[1.15] transition-all ease-in-out duration-400"
      loading="eager"
      decoding="async"
      format="webp"
    />
  </div>
</a>
